li {
    list-style: none;
    margin-top: 10px;
}

.compeleted {
    text-decoration: line-through;
    color: grey;
}

button {
    margin-left: 5px;
}
.closeLoading {
    display: none;
}
.showEdit {
    display: block;
}
.closeEdit {
    display: none;
}
